In [3]:
import pandas as pd


datos_con_panda = pd.read_csv(
    "C:\\Users\\gertr\\OneDrive\\Escritorio\\Walbert\\VS Code\\Aprendiendo\\Python\\Curso de dalto\\Teoría del c Dalto\\Avanzado\\trabajando con archivos\\Av_csv\\archivos_csv\\datos_de_ejemplo.csv",
    sep=",",
    encoding="utf-8",
)
datos_con_panda

,Nombre,"""Apellido""","""Edad""","""Sexo""","""txt"""
0,Camila,"""López""",21,"""mujer""","""jakgj dsalkfjkj fajf a"""
1,José,"""Hernandez""",45,"""hombre""","""jaifj fjakjf fiauropier da fuioewpids"""
2,Manuél,"""Cásares""",34,"""hombre""","""jdafvc"""
3,David,"""Rosalez""",18,"""hombre""","""llfadskñññ"""